@page "/"
@page "/{rowsDisplayed:int?}"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<h1>Hello, world!</h1>

Welcome to your new app.



<Counter IncrementAmount="@RandoNum()" />

<button type="button" @onclick="() => isClicked = true">What's today</button>

@if (isClicked)
{
    <p>Today is @DateTime.Now.ToString("MM/dd/yyyy")</p>
} 
else {
	<p>who cares</p>
}

<button type="button" @onclick="GetAlphabet">Alphabet</button>
@if (alphabetToggled) {
	<ol>
	@foreach (var letter in alphabetSubset){
		<li>@letter</li>
	}
	</ol>

}

<table class="table">
	<tr>
		<th>Number</th>
	</tr>
	@foreach(var num in numbers) {
		<tr>
			<td>@num</td>
		</tr>
	}
</table>


<h2 style="@currentColor" @onmouseenter="nameEnter" @onmouseleave="nameLeave" >Name:</h2>
<input @onchange="hitEnter">
<p>@name</p>

<h2>Address:</h2>
<input @oninput="onInput">
<p>@address</p>
@code {
	string name = "";
	string address = "";
	string currentColor = "background-color: red";

	private void nameEnter(MouseEventArgs e) => currentColor  = "background-color: red";
	private void nameLeave(MouseEventArgs e) => currentColor = "background-color: blue";

	private void hitEnter(ChangeEventArgs e) => name = (string) e.Value!;
	private void onInput(ChangeEventArgs e) => address = (string) e.Value!;

	[Parameter]
	public int rowsDisplayed {get; set;}
	private List<int> numbers = new List<int>();

	protected override void OnInitialized()
	{
		if(rowsDisplayed==0) { return; }
		for(int i = 0; i < rowsDisplayed; i++) {
			numbers.Add(Random.Shared.Next(1,50));
		}
	}
	private Random rand = new Random();
	private bool isClicked = false;
	private bool alphabetToggled = false;
	private List<string> alphabetSubset = new List<string>();

	private int RandoNum() {
		return rand.Next(10) + 1;
	}

	private void SetTrue() {
		isClicked = true;
	}

	private void GetAlphabet() {
		string Alphabet = "abcdefghijklmnopqrstuvwxyz";
		if(alphabetToggled) {
			alphabetToggled = false;
		}
		else {
			alphabetSubset.Clear();
			for(int i = 0; i < rand.Next(0,25); i++){
				alphabetSubset.Add(Alphabet.Substring(i,1));
			}
			alphabetToggled = true;
		}
	}
}
